.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
   background: rgb(99, 147, 235);
   margin: 5px;
}

.dialogsItems .dialog {
   padding: 10px;
   color: white;
}

.dialogsItems .active {
   color: gold;
}

.messages {
   padding: 10px;
}

.messages .message {
   text-decoration: dashed;
   color: white;
}
